@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /*Color palette*/
  --color-50: #f5f3fb;
  --color-100: #e7e3f6;
  --color-200: #d3ceef;
  --color-300: #b5ade3;
  --color-400: #9285d5;
  --color-500: #7f68c9;
  --color-600: #7455bb;
  --color-700: #65459f;
  --color-800: #5d418c;
  --color-900: #4c3870;
  
  --mono-50 : #f5f5f5; 
  --mono-100 : #ebebec; 
  --mono-200 : #cdcdcf; 
  --mono-300 : #afaeb3; 
  --mono-400 : #747279; 
  --mono-500 : #383540; 
  --mono-600 : #32303a; 
  --mono-700 : #2a2830; 
  --mono-800 : #222026; 
  --mono-900 : #1b1a1f;  

  /* Light mode */
  --light-main-text: var(--mono-900);
  --light-header-text: var(--color-100);
  --light-program-bg: var(--mono-50);
  --light-bar-bg: var(--color-500);
  --light-bar-blocks-bg: var(--color-400);
  --light-nav-bg: var(--mono-200);
  --light-fragment-bg: var(--mono-100);
  --light-tab-window-bg: var(--mono-100);
  --light-shadow: var(--mono-300);
  --light-blocks-hover-bg: var(--color-300);
  --light-switch-text: "Tryb ciemny";
  --light-blur: rgb(255, 255, 255, 0.5);
  --light-asm-section: var(--color-200);
  --light-asm-header: var(--color-300);


  /* Dark mode */
  --dark-main-text: var(--mono-200);
  --dark-header-text: var(--color-300);
  --dark-program-bg: var(--mono-800);
  --dark-bar-bg: var(--color-800);
  --dark-bar-blocks-bg: var(--color-600);
  --dark-nav-bg: var(--mono-500);
  --dark-fragment-bg: var(--mono-600);
  --dark-tab-window-bg: var(--mono-600);
  --dark-shadow: var(--mono-900);
  --dark-blocks-hover-bg: var(--color-500);
  --dark-switch-text: "Tryb jasny";
  --dark-blur: rgb(0, 0, 0, 0.5);
  --dark-asm-section: var(--color-900);
  --dark-asm-header: var(--color-800);

  /* Default mode */
  --main-text: var(--light-main-text);
  --header-text: var(--light-header-text);
  --program-bg: var(--light-program-bg);
  --bar-bg: var(--light-bar-bg);
  --bar-blocks-bg: var(--light-bar-blocks-bg);
  --nav-bg: var(--light-nav-bg);
  --fragment-bg: var(--light-fragment-bg);
  --tab-window-bg: var(--light-tab-window-bg);
  --shadow: var(--light-shadow);
  --switch-text: var(--light-switch-text);
  --blocks-hover-bg: var(--light-blocks-hover-bg);
  --blur: var(--light-blur);
  --asm-section: var(--light-asm-section);
  --asm-header: var(--light-asm-header);
}


*{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  padding:1em;
}

#page {
  display: grid;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--main-text);
  grid-template-areas:
    "menu menu menu"
    "nav program fragment"
    "nav tabs tabs"
    "nav tab_window tab_window";
  grid-template-rows: 25px 4fr 25px 1fr;
  grid-template-columns: 2fr 5fr 3fr;   
}

#menu_bar {
  grid-area: menu;
  background: var(--bar-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 3;
  box-shadow: 0px 2px 2px var(--shadow);
}

#navigation {
  grid-area: nav;
  background-color: var(--nav-bg);
  box-shadow: 2px 0px 2px var(--shadow);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}

#structure {
  width: 100%;
  height: 100%;
  background-color: var(--nav-bg);
  text-align: left;
  padding-top: 0;
  color: var(--main-text);
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#navigation form {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#navigation ul{
  width: 100%;
}

#navigation li {
  width: 100%;
}

#navigation li button {
  width: 100%;
  background: none;
  text-align: left;
  color: inherit;
}

#navigation li button:hover {
  background-color: var(--blocks-hover-bg);
}

#navigation li button.chosen {
  background-color: var(--bar-blocks-bg);
}

#navigation li button.parent_chosen {
  background-color: var(--blocks-hover-bg);
}

#navigation a {
  display: block;
  text-decoration: none;
  color: var(--main-text);
}

.folder {
  list-style-type: disc;
  font-weight: 400;
}

.file {
  list-style-type: circle;
  font-weight: 300;
}


.current {
  background-color: var(--bar-blocks-bg);
}

#program {
  grid-area: program;
  background-color: var(--program-bg);
  overflow: auto;
}
  
#fragment {
  grid-area: fragment;
  background-color: var(--fragment-bg);
  box-shadow: -2px 0px 2px var(--shadow);
  z-index: 1;
  overflow: auto;
}

#tabs {
  grid-area: tabs;
  background-color: var(--bar-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 2;
  box-shadow: 0px 2px 2px var(--shadow);
}

.tab_window {
  grid-area: tab_window;
  background-color: var(--tab-window-bg);
  z-index: 0;
  padding: 1em;
  display: none;
}

.tab_window fieldset input {
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: 2px solid var(--nav-bg);
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

.tab_window fieldset input:checked {
  border: 0.25em solid var(--bar-bg);
}

.tab_window label {
  margin-right: 15px;
  line-height: 32px;
}

.block.tab.chosen {
  background-color: var(--blocks-hover-bg);
}

#standard_tab {
  display: block;
}

#logout {
  flex-basis: 100px;
  box-sizing: border-box;
  border-left: solid;
  border-color: var(--bar-bg);
  border-width: 3px;
  
}



.dropdown {
  float: left;
  overflow: hidden;
  border-right: solid;
  border-color: var(--bar-bg);
  border-width: 3px;
  flex-basis: 100px;
  height: 100%;
  text-align: center;
}

.block.menu{
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--bar-blocks-bg);
}

.dropdown .block.menu:hover {
  background-color: var(--blocks-hover-bg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bar-blocks-bg);
  min-width: 160px;
  box-shadow: 2px 2px 2px 2px var(--shadow);
  z-index: 3;
}

.dropdown-content button {
  float: none;
  padding: 5px;
  color: var(--header-text);
  display: block;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  width: 100%;
  background-color: inherit;
}

.dropdown-content button:hover {
  background-color: var(--blocks-hover-bg);
}

.show {
  display: block;
}


.block{
  flex-basis: 100px;
  height: 100%;
  position: relative;
  background-color: var(--bar-blocks-bg);
  text-align: center;
  color: var(--header-text);
}

button {
  height: 100%;
  position: relative;
  background-color: var(--bar-blocks-bg);
  text-align: center;
  color: var(--header-text);
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--blocks-hover-bg);
}


.block.tab{
  flex-basis: 200px;
  clip-path: polygon(10% 0,90% 0, 100% 100%, 0 100%);
  cursor: pointer;
  border: none;
  outline: none;
}


.block:hover{
  background-color: var(--blocks-hover-bg);
}


#theme-switch {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  
}

#switch-label{
  flex-basis: 150px;
  box-sizing: border-box;
  height:100%;
  position: relative;
  margin-left:auto;
  border: none;
  cursor: pointer;
}

#switch-label::before{
  content: var(--switch-text);
}

#theme-switch:checked ~ #page{
  --main-text: var(--dark-main-text);
  --header-text: var(--dark-header-text);
  --program-bg: var(--dark-program-bg);
  --bar-bg: var(--dark-bar-bg);
  --bar-blocks-bg: var(--dark-bar-blocks-bg);
  --nav-bg: var(--dark-nav-bg);
  --fragment-bg: var(--dark-fragment-bg);
  --tab-window-bg: var(--dark-tab-window-bg);
  --shadow: var(--dark-shadow);
  --switch-text: var(--dark-switch-text);
  --blocks-hover-bg: var(--dark-blocks-hover-bg);
  --blur: var(--dark-blur);
  --asm-section: var(--dark-asm-section);
  --asm-header: var(--dark-asm-header);
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  background-color: var(--blur);
  display: none;
}

#blur.show {
  display: block;
}

.add.show {
  display: block;
}

.add {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: var(--bar-bg);
  display: none;
  color: var(--header-text);
  max-height: 90%;
  max-width: 90%;
  overflow: auto;
}

.add form {
  margin: 2em;
  text-align: center;
}

#sectionDelete form div{
  text-align: left;
  font-size: 0.8em;
  font-weight: 300;
}

#sectionDelete form div b{
  font-weight: 400;
}

#sectionDelete label {
  margin-right: 15px;
  line-height: 32px;
}



#sectionDelete input {
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: 2px solid var(--nav-bg);
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#sectionDelete input:checked {
  border: 0.25em solid var(--blocks-hover-bg);
}

.asm_section {
  margin: 0;
  padding: 0;
}

.asm_section_header {
  margin: 0;
  padding: 0;
}

.asm_section:hover {
  background-color: var(--asm-section);
}

.asm_section:hover .asm_section_header {
  background-color: var(--asm-header);
}

button.hidden {
  display: none;
}

button.hidden.show {
  display: block;
}

.zalezne_form {
  display: none;
}

.zalezne_form.show {
  display: block;
}

.program_content pre {
  margin-top: 1em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  /* padding-left: 1em; */
  width: 100%;
  height: 100%;
}

.program_content {
  padding-left: 0;
  height: 100%;
  font-family: monospace;
  text-align: center;
  /* padding-top: 1em; */
}

.program_content .CodeMirror {
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 15px;
  z-index: 0;
  text-align: left;
  background-color: var(--program-bg);
  color: var(--main-text);
}

.program_content .CodeMirror-gutters {
  background-color: var(--blocks-hover-bg);
  border: none;
  z-index: 2;
}

.program_content .CodeMirror-linenumber {
  color: var(--header-text);
}

.program_content button {
  text-align: left;
  padding: 0;
  background-color: inherit;
  color: var(--blocks-hover-bg);
}

.program_content button.highlight {
  background-color: var(--blocks-hover-bg);
  color: var(--header-text)
}

.info {
  display: none;
}

.info.show{
  display: block;
}

.asm_section_content {
  display: none;
  cursor: default;
}

.asm_section_content.show {
  display: block;
}

.asm_section_content pre{
  cursor: default;
}

.asm_section_header {
  cursor: pointer;
}

.asm_line {
  padding: 0;
}

.asm_line.highlight {
  background-color: var(--asm-header);
}

#fragment_buttons {
  display: none;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
}

#fragment_buttons button {
  width: 50%;
}


#fragment_buttons.show {
  display: flex;
  flex-direction: row;
}

.line.highlight {
  background-color: var(--blocks-hover-bg);
}

.error_section.highlight {
  background-color: var(--blocks-hover-bg);
}

.info {
  color: var(--bar-bg);
}

@media only screen and (orientation:portrait) and (max-height: 1000px){
  * {
    font-size: 25px;
  }

  pre {
    font-size: 20px;
  }
  
  #page {
    grid-template-areas:
      "menu"
      "nav"
      "program"
      "fragment"
      "tabs"
      "tab_window";
    grid-template-rows: max-content 1fr 3fr 3fr max-content 1fr;
    grid-template-columns: 1fr;
  }

  .block {
    flex-grow: 1;
  }

  #menu_bar {
    box-shadow: 0px 2px 2px var(--shadow);
  }

  #navigation {
    box-shadow: 0px 2px 2px var(--shadow);
  }

  #fragment {
    box-shadow: none;
  }

  #tabs {
    box-shadow: 0px -2px 2px var(--shadow);
    box-shadow: 0px 2px 2px var(--shadow);
  }
} 

.cm-asm-section {
  color: var(--bar-bg);
}


#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login_table {
  margin-bottom: 20px;
}

#login_table td {
  padding: 5px;
}

#login_form input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--bar-blocks-bg);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--blocks-hover-bg);
}

#login_error {
  color: var(--bar-bg);
  margin-bottom: 10px;
  text-align: center;
}